.sidebar_sidebar {
  background-color: var(--tertiary);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar_menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
  cursor: pointer;
}

.sidebar_nav-menu {
  background-color: var(--tertiary);
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}

.sidebar_nav-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar_data--items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar_nav-menu--items {
  width: 100%;
}

.sidebar_sidebar-toggle {
  background-color: var(--tertiary);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_data--items a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar_data--items a:hover {
  background-color: var(--hoverTertiary);
}

.sidebar_sidebar--title {
  list-style: none;
  color: white;
  background-color: var(--hoverTertiary);
  padding: 0 16px;
  border-radius: 4px;
  font-size: 1.5em;
}

.sidebar_data--items span {
  padding-left: 10px;
}

.sidebar-profile {
  margin-right: 3%;
}

.sidebar_session-close {
  background-color: white;
  color: var(--primary);
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.sidebar_session-close:hover {
  background: var(--primary);
  color: white;
}

/*** Headersidebar ***/

.sidebar_header {
  background-color: var(--tertiary);
  height: 80px;
  width: 100vw;
}

/*** Submenu ABM ***/

.sidebar_submenu {
  background: var(--tertiary);
  color: white;
}

@media only screen and (max-width: 768px) {
  .sidebar_nav-menu {
    width: 100%;
    transition: 350ms;
  }
}
