@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(./fonts/Gilroy-Light.otf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy" !important;
}

body {
  margin: 0;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
